footer{
  height: 50px;
  width: 100%;
  font-size: 1.25em;
  font-weight: 700;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box-flex;
  display: -moz-box-flex;
  display: -ms-flex;

  flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -ms-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-justify-content: space-between;
  -moz-box-justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: stretch;
  -webkit-align-items: stretch;
  -webkit-box-align-items: stretch;
  -moz-box-align-items: stretch;
  -ms-align-items: stretch;
  align-content: stretch;
  -webkit-align-content: stretch;
  -webkit-box-align-content: stretch;
  -moz-box-align-content: stretch;
  -ms-align-content: stretch;
}
.footer-btn {
  padding: 10px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-box-flex-grow: 1;
  -moz-box-flex-grow: 1;
  -ms-flex-grow: 1;
  text-align: center;
  vertical-align: text-bottom;
  display: flex;
  display: -webkit-flex;
  display: -webkit-box-flex;
  display: -moz-box-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align-items: center;
  -moz-box-align-items: center;
  -ms-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-justify-content: center;
  -moz-box-justify-content: center;
  -ms-justify-content: center;
  border-right: 1px solid #ce8181;
  background-color: @bg-main700;
  color: white;
    &:hover{
        position: relative;
        background-color:#A10000;
    }
}
