.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

header {
    /*  display: table-row;*/
    height: 100px;
    /*  display: table;*/
    width: 100%
}

#headerTitle {
    background-color: @bg-main700;
    color: white;
    border-bottom: 1px solid @bg-main700;
    font-size: 1.5em;
    padding: 3px;
    text-align: center;
    z-index: 5;
    height: 30px;
}

#headerBreadCrumbs {
    /*  display: table-row;*/
    height: 20px;
    width: 100%;
    background-color: @bg-main700;
    color: white;
    border-bottom: 1px solid #ce8181;
}

#headerMenu {
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: @bg-main700;
    /*clearfix hack for floated headerMenuBtn*/
    *zoom: 1;
    &:before,
    &:after {
      display: table;
      content: "";
      // Fixes Opera/contenteditable bug:
      // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
      line-height: 0;
    }
    &:after {
      clear: both;
    }
}

.headerMenuBtn {
    box-sizing: border-box;
    color: white;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #cb4a4a;
    width: 14.285%; /* 100 / 7 */
    height: 50px;
    background-color: @bg-main700;
    float: right;
    i {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn-header {
    background-color: @bg-main700;
    &:hover {
        background-color: #A10000;
    }
}
